
ASR_TP/project-files/dynamips/c3660-a3jk9s-mz.124-25d.image-192.ghost
ASR_TP/project-files/dynamips/dynamips_i1_log.txt
ASR_TP/project-files/dynamips/dynamips_i2_log.txt
ASR_TP/project-files/dynamips/ilt_2017072410_mips64e
ASR_TP/project-files/dynamips/ilt_2017072410_mips64j
ASR_TP/project-files/dynamips/ilt_2017072410_ppc32e
ASR_TP/project-files/dynamips/ilt_2017072410_ppc32j
